@{
    Layout = "~/Views/Layout/Main.cshtml";
}
@model MyBlogWeb.Models.Article.ListVM

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @foreach (var m in Model.ArticleList)
        {

            <ul class="media-list">
                <li class="media">
                    @if (m.MainImage1 > 0)
                {
                        <div class="media-left hidden-xs XCLArticleImage">
                            <a href="@Url.RouteUrl("DefaultRouter",new { controller="article",action="show",id=m.ArticleID })" class="thumbnail" title="@m.Title" style="width:260px;height:170px;">
                                <img class="media-object img-rounded lazy" data-original="@XCLCMS.Lib.Common.Comm.GetAttachmentAbsoluteURL(m.MainImage1.GetValueOrDefault())" alt="@m.Title" style="width:250px;height:160px;">
                            </a>
                        </div>
                    }
                    <div class="media-body">
                        <h3 class="media-heading"><a href="@Url.RouteUrl("DefaultRouter",new { controller="article",action="show",id=m.ArticleID })">@m.Title</a></h3>
                        <blockquote style="font-size:15px;">
                            <p class="text-success XCLIndent XCLSummary" style="line-height:25px;">@m.Summary ...</p>
                            <div class="text-right text-muted">
                                分类：@m.ArticleTypeNames
                                <span class="hidden-xs">来源：@m.FromInfo</span>
                                <span class="hidden-xs">作者：@m.AuthorName</span>
                                @string.Format("{0:yyyy-MM-dd HH:mm}", m.PublishTime)
                                <a class="hidden-xs" href="@Url.RouteUrl("DefaultRouter",new { controller="article",action="show",id=m.ArticleID })"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;阅读</a>
                            </div>
                        </blockquote>
                    </div>
                </li>
            </ul>

            <hr />
        }

        @Html.Partial("~/Views/UserControl/XCLPager.cshtml", Model.PagerModel)

    </div>
</div>