@model MyBlogWeb.Models.Article.ShowVM

@{
    Layout = "~/Views/Layout/Main.cshtml";
}

<div class="row XCLArticleContent">
    <div class="col-md-8 col-md-offset-2">

        @if (Model.Article.ArticleID > 0)
        {
            <div class="page-header text-center" style="margin-top:10px;">
                <h2>@Model.Article.Title</h2>
                <small class="text-muted">分类：@Model.Article.ArticleTypeNames 来源：@Model.Article.FromInfo 作者：@Model.Article.AuthorName  @string.Format("{0:yyyy-MM-dd HH:mm}", Model.Article.CreateTime)</small>
            </div>

            if (!string.IsNullOrWhiteSpace(Model.Article.Summary))
            {
                <div class="alert alert-success">
                    <p>
                        <strong>概要：</strong>@Model.Article.Summary
                    </p>
                </div>
            }

            <div class="text-success XCLIndent" style="line-height:35px;">
                @Html.Raw(Model.Article.Contents)
            </div>

            <p class="text-right text-muted">
                编辑：@Model.Article.UpdaterName
                最后更新于：@string.Format("{0:yyyy-MM-dd HH:mm}", Model.Article.UpdateTime)
            </p>

            if (!string.IsNullOrWhiteSpace(Model.Article.Comments))
            {
                <div class="alert alert-warning">
                    <p>
                        <strong>点评：</strong>@Model.Article.Comments
                    </p>
                </div>
            }

            <hr />

            <div class="row">
                <div class="col-md-6">
                    <blockquote>
                        <p><button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myPayModal"><span class="glyphicon glyphicon-heart"></span>您不【&nbsp;&yen;打赏】一下吗？<span class="glyphicon glyphicon-heart"></span></button></p>
                        <footer>如果觉得我的文章对您有用，请随意打赏，您的支持将鼓励我继续创作！</footer>
                    </blockquote>
                </div>

                <!--上一篇、下一篇-->
                @if (null != Model.RelationDetail && (null != Model.RelationDetail.PreArticle || null != Model.RelationDetail.NextArticle))
                {
                    <div class="col-md-6">
                        <blockquote>
                            @if (null != Model.RelationDetail.PreArticle)
                            {
                                <p>
                                    <span class="text-success">上一篇：</span>
                                    <a href="@Url.RouteUrl("DefaultRouter",new { controller="article",action="show",id=Model.RelationDetail.PreArticle.ArticleID })">
                                        @Model.RelationDetail.PreArticle.Title
                                    </a>
                                </p>
                            }
                            @if (null != Model.RelationDetail.NextArticle)
                            {
                                <p>
                                    <span class="text-success">下一篇：</span>
                                    <a href="@Url.RouteUrl("DefaultRouter",new { controller="article",action="show",id=Model.RelationDetail.NextArticle.ArticleID })">
                                        @Model.RelationDetail.NextArticle.Title
                                    </a>
                                </p>
                            }
                        </blockquote>
                    </div>
                }
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myPayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">准备赏个脸</h4>
                        </div>
                        <div class="modal-body text-center">
                            <img src="~/Resources/Images/wxpay.jpg" />
                            <p>微信扫一扫，非常强烈地感谢您的支持！</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--相关文章-->
            if (null != Model.RelationDetail && null != Model.RelationDetail.SameTypeArticleList && Model.RelationDetail.SameTypeArticleList.Count > 0)
            {
                <hr />
                <ul style="padding:0px;list-style-position:inside;">
                    @foreach (var sameModel in Model.RelationDetail.SameTypeArticleList)
                    {
                        <li>
                            <a href="@Url.RouteUrl("DefaultRouter", new { controller = "article", action = "show", id = sameModel.ArticleID })">
                                @sameModel.Title
                            </a>
                        </li>
                    }
                </ul>
            }

            <hr />
            <p class="text-muted">
                <small>
                    声明：本站<strong>部分文章</strong>系本站编辑转载，转载目的在于加快信息的传递，及时与广大网友分享更多信息，并不代表本站赞同其观点和对其真实性负责。
                    如涉及作品内容、版权和其它问题，请及时与本站联系，我们将在第一时间删除内容！本站文章版权归原作者所有，内容为作者个人观点，本站只提供参考并不构成任何投资及应用的建议。
                </small>
            </p>

            <hr />

            <!--PC和WAP自适应版-->
            <div id="SOHUCS" sid="@Model.Article.ArticleID"></div>
            <script type="text/javascript">
                (function () {
                    var appid = 'cysYWPUpD';
                    var conf = 'prod_8eb09138b3a32fa9b5e12016dccddfa7';
                    var width = window.innerWidth || document.documentElement.clientWidth;
                    if (width < 960) {
                        window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>');
                    } else { var loadJs = function (d, a) { var c = document.getElementsByTagName("head")[0] || document.head || document.documentElement; var b = document.createElement("script"); b.setAttribute("type", "text/javascript"); b.setAttribute("charset", "UTF-8"); b.setAttribute("src", d); if (typeof a === "function") { if (window.attachEvent) { b.onreadystatechange = function () { var e = b.readyState; if (e === "loaded" || e === "complete") { b.onreadystatechange = null; a() } } } else { b.onload = a } } c.appendChild(b) }; loadJs("https://changyan.sohu.com/upload/changyan.js", function () { window.changyan.api.config({ appid: appid, conf: conf }) }); }
                })();
            </script>

        }
        else
        {
            <div class="alert alert-warning text-center">
                <h3>
                    您查看的内容不存在，或已被删除！
                </h3>
            </div>
        }
    </div>
</div>